#!/usr/bin/env bash

# Only run the following for xdg sessions
if [[ $XDG_SESSION_TYPE == x11 ]]; then
	# razer touchpad
	if [[ -n "$(xinput list-props 'CUST0001:00 06CB:CDA3 Touchpad' | grep 'Device Enabled (204):.*1')" ]]; then
	  xinput set-prop 'CUST0001:00 06CB:CDA3 Touchpad' 'libinput Natural Scrolling Enabled' 1
	  xinput set-prop 'CUST0001:00 06CB:CDA3 Touchpad' 'libinput Middle Emulation Enabled' 1
	  xinput set-prop 'CUST0001:00 06CB:CDA3 Touchpad' 'libinput Disable While Typing Enabled' 1
	  xinput set-prop 'CUST0001:00 06CB:CDA3 Touchpad' 'libinput Tapping Enabled' 1
	fi

	# glorious mouse
	MOUSE=$(xinput list | grep 'Glorious Model O Wireless')
	if [[ -n "$MOUSE" ]]; then
	  xinput set-prop 'Glorious Model O Wireless' 'libinput Accel Profile Enabled' 0, 1 2> /dev/null
	  xinput set-prop 33 'libinput Accel Profile Enabled' 0, 1 2> /dev/null
	fi

	# keyboard settings
	xset r rate 220 40
	setxkbmap -option caps:none # disable caps
fi

