[init]
	defaultBranch = main
[user]
	name = soonann
	email = git@soonann.dev
[core]
	editor = nvim
[log]
	date = local
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
